# Importing

In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
path=r"C:\Users\Sam\Desktop\CF\Project 4 Instacart Basket\Instacart Basket Analysis\02 Data"

In [5]:
df_ords_prods=pd.read_pickle(os.path.join(path,"prepared data","orders_products_combined.pkl"))

In [6]:
df_ords_prods.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [8]:
df_ords_prods.shape

(32434489, 11)

In [9]:
df_prods=pd.read_csv(os.path.join(path,"prepared data","products_checked.csv"))

In [10]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_prods.shape

(49672, 6)

# Dropping "unnamed:0" from df_prods

In [23]:
# used code df_prods=df_prods.drop(columns=["unnamed:0"])

In [24]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

# Merging

Since the two frames to be merged have a common key "product_id", I will be using the key to merge them using the default inner merge, I think this would be the most appropriate in this scenario

In [27]:
df_merged=df_prods.merge(df_ords_prods,on=["product_id"],indicator=True)

ValueError: Cannot use name of an existing column for indicator column

since the code raised a value error indicating that the column for indicator already exists, it needs to be dropped first before executing the code above

In [29]:
# dropping "_merge" from df_ords_prods
df_ords_prods=df_ords_prods.drop(columns=["_merge"])

In [30]:
# checking if executed properly
df_ords_prods.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [32]:
#running the merging code again
df_merged=df_prods.merge(df_ords_prods, on=["product_id"],indicator=True)

In [33]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

In [34]:
df_merged.shape

(32404859, 15)

# confirming the resluts using merge flag

In [35]:
# merge flag
df_merged["_merge"].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

mathches the shape of the dataframe

# Exporting the dataframe in pkl format

In [36]:
df_merged.to_pickle(os.path.join(path,"prepared data","ords_prods_merge.pkl"))